//#region Fonts
@font-face {
  font-display: swap;
  font-family: 'Apex';
  src: url('../font/Apex.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'SF';
  font-weight: 300;
  src: url('../font/SF.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'SF';
  font-weight: 400;
  src: url('../font/SF-Regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'SF';
  font-weight: 500;
  src: url('../font/SF-Medium.woff2') format('woff2');
}
//#endregion


:root{
  --backgCol: #1E1E1E;
  --backgCol2: #232323;
}

::selection {
  background: rgba(105, 200, 154, 0.2);
}

html{
  background: var(--backgCol);
  scrollbar-width: none;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'SF', serif;
  font-weight: 300;
}

img {
  pointer-events: none;
  user-select: none;
}

//#region Scroll

::-webkit-scrollbar {
  width: 0;
}

#scroll-bar {
  position: fixed;
  z-index: 9;
  right: 0;
  width: 2px;
  background-color: #464646;
}
//#endregion

//#region Header

//#region Logo
#logo{
  display: inline-block;
  margin-left: 20px;
  padding-top: 20px;
}

.logo__text-wrapper{
  display: inline-block;
  overflow: hidden;

  margin-left: 5px;
  margin-bottom: 3px;
}

.logo__text{
  font-family: "Apex", serif;
  font-size: 50px;
  line-height:40px;

  transform: translateX(-105%);
  transition:transform .4s;
}

#logo:hover .logo__text{
  transform:translateX(0);
}
//#endregion

//#region Menu

nav{
  position: absolute;
  top: 20px; right: 20px;
  display: flex; gap: 20px;

  a{
    padding: 10px 15px;

    font-size: 22px;
    text-decoration: none;
    color: #F5F5F5;

    background: #141414;
    border-radius: 15px;
    cursor: pointer;

    transition: all 0.4s ease-in-out;
    &:hover{
      box-shadow: inset 0 0 0 25px #323232;
    }
  }
}
//#endregion

//#endregion

//#region Context
.main{
  height: 100vh;
  width: 100%;
  background-color: gold;
}

.main__context {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 100%;
  text-align: center;
}

.context__name {
  font-family: 'Apex', serif;
  font-size: 105px;

  color: #69C89A;

  opacity: 0;
  animation: fade-bottom 1s ease-in-out forwards;
}

.context__desc {
  font-size: 40px;
  line-height: 57px;

  color: #F5F5F5;

  opacity: 0;
  animation: 1s fade-bottom .5s ease-in-out forwards;
}

.context__ocean{
    position: absolute;
  background-color: red;
    bottom: 0;
    height: 90px;
    width: 100%;
    overflow-x: hidden;
  svg{
    position: absolute;
    bottom: 0;
  }
}

.animated-arrow{
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  animation: levitation 2s infinite ease-in-out;

  cursor: pointer;
}

@keyframes levitation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}


//#endregion

//#region Waves
.ocean {
  height: 90px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 799 80'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23232323'/%3E%3C/svg%3E") repeat-x;
  position: absolute;
  width: 200%;
  height: 90px;
  bottom: 0;
  animation: wave 5s linear infinite;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
//#endregion

//#region Text
section > h5{
  font-size: 48px;
  padding-top: 50px;

  width: 100%;
  text-align: center;
}
//#endregion

//#region What we do
#we-do{
  background: var(--backgCol2);
  padding-bottom: 50px;
}

.we-do__panels{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1600px;
  margin: 0 auto;
}

.panel__wrapper{
  position: relative;
  height: 310px;
  width: 350px;

  margin-top: 100px;
}

.panel{
  position: absolute;
  width: 100%;
  height: 315px;

  background: #141414;
  border-radius: 15px;
  bottom: 0;
  transition: box-shadow .4s;

  h6{
    font-size: 32px;
    text-align: center;

    width: 100%;
    margin-top: 115px;
  }

  p{
    padding: 5px;

    font-size: 23px;
    line-height: 29px;
    text-align: center;
    color: #C8C8C8;
  }
}

.panel__icon{
  position: absolute;
  margin: -45px auto auto auto;
  left: 0; right: 0;
  width: 200px;
  height: 140px;

  background: #191919;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  border-radius: 20px;

  transition: box-shadow .4s, transform .6s;
}

.panel__svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.panel__wrapper:hover .panel{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.panel__wrapper:hover .panel__icon{
  transform: translateY(-20px);
}
//#endregion

//#region Skills

#skills{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

//#region Flip Card
.flip-card{
  width: 250px;
  height: 220px;
  perspective: 3000px;
  transition: all 0.4s ease-in;
  margin-top: 50px;
}

.flip-card .front, .flip-card .back
{
  position:absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: all 0.4s ease-in;
  background: #141414;
  border-radius: 15px;
  backface-visibility: hidden;
}

.flip-card:hover .front, .flip-card.flip .front{
  transform: rotateY(180deg);
}
.flip-card:hover .back, .flip-card.flip .back{
  transform: rotateY(0deg);
}
.flip-card .back{
  transform: rotateY(-180deg);
}

.flip-card img{
  position: absolute;
  margin-top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.flip-card > .front p{
  position: absolute;
  font-size: 32px;
  text-align: center;

  width: 250px;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

.flip-card > .back p{
  position: absolute;
  font-size: 22px;
  text-align: center;

  width: 240px;

  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #C8C8C8;
}
//#endregion

//#endregion

//#region Our works
#our-works{
  background: var(--backgCol2);
  padding-bottom: 95px;
}

.works{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.work{
  position: relative;

  width: 550px;
  height: 380px;
  margin-top: 50px;

  background: #141414;
  border-radius: 15px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

  overflow: hidden;

  .img-wrapper{
    width: 100%;
    height: 380px;
    border-radius: 15px;
    overflow: hidden;
    img{
      width: 100%; height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.preview__context{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 15px;
  width: 550px;
  height: 380px;
  top: 0;
  left: 0;

  opacity: 0;
  transition: opacity .6s;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, .5);
}

.context__info{
  position: relative;

  transform: translateY(50px);
  opacity: 0;
  transition: opacity 1s, transform 1s;
  p{
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;

    color: #F5F5F5;
  }

  button{
    width: 240px;
    height: 45px;

    cursor: pointer;
    background: rgba(103, 191, 151, 0.7);
    border-radius: 49px;
    border:none;

    font-size: 24px;
    color: rgba(245, 245, 245, 0.7);

    transition: color .4s, background-color .4s;

    &:hover{
      background: rgb(103, 191, 151);
      color: white;
    }
  }
}

.work:hover .preview__context{
  opacity: 1;
}

.work:hover .context__info{
  transform: translateY(0);
  opacity: 1;
}

.work:hover{
  overflow: visible;
}

.context__widgets{
  display: flex;
  position: absolute;

  top: 10px;

  right: -50px;
  opacity: 0;
  transition: opacity 1s, right 1s;

  a{
    position: relative;

    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;

    text-decoration: none;
    text-align: center;

    background: rgba(73, 73, 73, 0.7);
    transition: background-color .4s;

    &:hover{
      background: rgb(73, 73, 73);
    }

    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      opacity: .8;
      transition: opacity .4s;
    }
  }
}
.work:hover .context__widgets{
  opacity: 1;
  right: 0;
}

.popup::after{
  content: attr(tool-tip2);
  position: absolute;
  width: 180px;

  right: calc(50% - 90px); bottom: 0;

  font-size: 11px;
  color: rgba(200, 200, 200, 0.8);

  transition: opacity .4s, transform .4s, bottom .4s;
  opacity: 0; transform: scale(0);
}
.popup:hover::after{
  opacity: 1;
  transform: scale(1);
  bottom:57px;
}

.popup::before{
  content: attr(tool-tip);
  position: absolute;

  right: calc(50% - 93px); bottom: 0;

  width: 186px;
  height: 32px;

  font-size: 14px; color: #e1e1e1;

  background: rgba(73, 73, 73, 0.8);
  border-radius: 8px;

  transition: opacity .4s, transform .4s, bottom .4s;
  opacity: 0;
  transform: scale(0);
}

.popup:hover::before{
  opacity: 1;
  transform: scale(1);
  bottom: 55px;
}
//#endregion

//#region Footer

footer{
  position: relative;
  min-height: 500px;
}

.tooltip{
  position: absolute; display: block;
  z-index: 9;
  top: -36px; left: 50%;
  transform: translateX(-50%);

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);

  border-radius: 15px;

  font-size: 48px;
  line-height: 76px;
  padding: 0 25px 0 25px;
}

.darkness{
  position: absolute;
  background: rgba(0, 0, 0, .5);
  backdrop-filter: blur(1px);

  width: 100vw;
  height: 100%;
  top: 0;
  right: 0;
}

.bg-wrapper{
  overflow: hidden;
  position: absolute;

  width: 100vw;
  height: 100%;
  top: 0;
  right: 0;
}

.bg-img{
  filter: drop-shadow(0px 0px 15px #498C6C);
  display: block;
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.forms-wrapper{
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper{
  width: 340px;
}

.form-header {
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  padding-bottom: 10px;

  color: #B4B4B4;
}

.forms-or{
  font-weight: 400;
  font-size: 24px;
  padding: 43px 25px 0 25px;
  color: #B4B4B4;
}

.form{
  background: #333;
  border-radius: 15px;
}

.form-btn{
  display: block;
  text-decoration: none;

  font-size: 24px;
  color: #C8C8C8;
  line-height: 58px;

  transition: background-color .6s;
  background-color: #333;

  img{
    vertical-align: middle;
    padding: 0 10px 2px 10px;
  }
}

.form-btn:hover{
  background-color: #444;
}

.telegram{
  border-radius: 15px 15px 0 0;
  border: 2px solid #222;
}

.discord, .vk{
  border-right: 2px solid #222;
  border-left: 2px solid #222;
  border-bottom: 2px solid #222;
}

.instagram{
  border-right: 2px solid #222;
  border-left: 2px solid #222;
}

.mail{
  border: 2px solid #222;
  border-radius: 0 0 15px 15px;
}

.send{
  border: 2px solid #222;
  border-radius: 0 0 15px 15px;
  text-align: center;
}

.message{
  position: relative;

  cursor: text;
  width: 336px;
  height: 180px;
  color: #8C8C8C;
  border-right: 2px solid #222;
  border-left: 2px solid #222;
  overflow-y: scroll;

  p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    min-width: 100%;
    max-width: 100%;
    max-height: 180px;
    word-wrap: anywhere;

    font-size: 24px;
    text-align: center;
    color: #C8C8C8;

    border: none;
    outline: 0;
  }
  p::after{
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #8C8C8C;
    font-size: 24px;
  }
}

.feedback{
  font-size: 24px;

  line-height: 56px;

  width: calc(100% - 4px);

  color: #C8C8C8;
  background-color: #333;
  text-align: center;
  border: 2px solid #222;
  border-radius: 15px 15px 0 0;
  outline: 0;
}

.feedback::placeholder{
  color: #8C8C8C;
}


.g2-logo{
  position: absolute;
  bottom: 5px;
  left: 5px;
}

//#endregion

//#region Scroll Animation
.scrollAnim{
  opacity: 0;
  transform: translateY(0);
}

.active.fade-bottom {
  animation: fade-bottom .6s ease-in forwards;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.active.long-fade-bottom {
  animation: fade-bottom 1s ease-in forwards;
}

.active.fade-top {
  animation: 1s fade-top 1s ease-in forwards;
}

.active.scale-transition {
  animation: scale-transition .6s ease-in forwards;
}
@keyframes scale-transition {
  0% {
    transform: scale(.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.active.arrow-opacity {
  animation: 1.5s scale-transition 1s ease-in forwards;
}
@keyframes arrow-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
//#endregion

.hide-after::after{
  display: none;
}

@import "adaptive";