:root {
  --font: #F5F5F5;
  --font2: #8C8C8C;

  --bg: #141414;
  --bg10: #1E1E1E;
  --bg15: #232323;
  --bg50: #464646;
  --bg180: #C8C8C8;

  --accent: #69C89A;
  --darkaccent: #498C6C;

  --outline: rgba(255, 255, 255, .15);
}