#our-works {
  background: #232323;
  padding-bottom: 95px;
}

.work {
  position: relative;

  width: 550px;
  height: 380px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background: #141414;
  border-radius: 15px;

  overflow: hidden;

  > img {
    border-radius: 15px;
    overflow: hidden;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }
}

.preview {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  top: 0; left: 0;
  width: 550px;
  height: 380px;

  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, .5);
  border-radius: 15px;

  opacity: 0; transition: opacity .6s;
}

.preview__info {
  position: relative;

  transform: translateY(50px);

  opacity: 0; transition: opacity 1s, transform 1s;

  p {
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;

    color: #F5F5F5;
  }

  button {
    width: 240px;
    height: 45px;

    cursor: pointer;
    background: rgba(103, 191, 151, 0.7);
    border-radius: 49px;
    border:none;

    font-size: 24px;
    color: rgba(245, 245, 245, 0.7);

    transition: color .4s, background-color .4s;
    &:hover {
      background: rgb(103, 191, 151);
      color: white;
    }
  }
}

.work:hover .preview {
  opacity: 1;
}

.work:hover .preview__info {
  transform: translateY(0);
  opacity: 1;
}
.work:hover {
  overflow: visible;
}

.preview__widgets {
  position: absolute;
  display: flex;
  gap: 10px;

  right: 10px;
  top: 10px;

  transform: translateX(100%); opacity: 0;
  transition: opacity 1s, transform 1s;

  a {
    position: relative;
    display: grid;
    place-items: center;

    width: 40px;
    height: 40px;
    border-radius: 10px;

    text-decoration: none;
    text-align: center;

    background: rgba(73, 73, 73, 0.7);
    transition: background-color .4s;
    &:hover {
      background: rgb(73, 73, 73);
    }

    img {
      opacity: .8; transition: opacity .4s;
    }
  }
}
.work:hover .preview__widgets {
  transform: translateX(0); opacity: 1;
}

.popup::after {
  position: absolute;
  width: 180px;

  right: calc(50% - 90px); bottom: 0;

  font-size: 11px;
  color: rgba(200, 200, 200, 0.8);

  opacity: 0; transform: scale(0);
  transition: opacity .4s, transform .4s, bottom .4s;
}
.popup:hover::after {
  opacity: 1;
  transform: scale(1);
  bottom:57px;
}

.popup::before {
  position: absolute;

  width: 186px;
  height: 32px;
  right: calc(50% - 93px); bottom: 0;

  font-size: 14px;
  color: #e1e1e1;

  background: rgba(73, 73, 73, 0.8);
  border-radius: 8px;

  opacity: 0; transform: scale(0);
  transition: opacity .4s, transform .4s, bottom .4s;
}
.popup:hover::before {
  opacity: 1;
  transform: scale(1);
  bottom: 55px;
}

.preview__widgets > a:nth-child(1)::after {
  content: '(нажмите чтобы проверить)';
  width: 152px;

  right: calc(50% - 76px);
}
.preview__widgets > a:nth-child(1)::before {
  content: 'сайт оптимизирован';
  width: 166px;

  right: calc(50% - 83px);
}

.preview__widgets > a:nth-child(2)::after {
  content: '(нажмите чтобы открыть макет)';
}
.preview__widgets > a:nth-child(2)::before {
  content: 'макет сделан нами';
}

.preview__widgets > a:nth-child(3)::after {
  content: '(нажмите чтобы посмотреть код)';
}
.preview__widgets > a:nth-child(3)::before {
  content: 'вёрстка сделана нами';
}