.work-dialog  {
  margin: auto;
  background: transparent;
  border: none;

  border-radius: 15px;
}

.work-dialog::backdrop {
  background: rgba(0, 0, 0, .5);
  backdrop-filter: blur(3px);
}

.work-dialog[open] {
  animation: dialog-window-open ease-in-out .4s both;
}

.work-dialog[open]::backdrop {
  animation: opacity-1 ease-in-out .4s both;
}

.work-dialog_closing {
  animation: dialog-window-close ease-in-out .4s forwards !important;
}

.work-dialog_closing::backdrop {
  animation: opacity-0 ease-in-out .4s forwards !important;
}

.work-dialog__wrapper {
  display: grid;
  position: relative;
  grid-template-columns: 550px 1fr;
  grid-template-rows: 380px 104px;
  grid-template-areas:
  "s d"
  "b d";
  gap: 20px;

  padding: 20px;
  box-sizing: content-box;


  max-width: 1050px;

  background: #232323;
  border: none;

  @media (max-width: 999px), (max-height: 582px) {
    display: flex;
    flex-direction: column;

    .work-dialog__btns-grid {
      flex-direction: column;
      order: 3;
    }
  }
}


.work-dialog__swiper {
  grid-area: s;

  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));

  .swiper-wrapper img {
    object-fit: cover;
  }

  .swiper-pagination-bullet-active {
    background: #69C89A !important;
    box-shadow: 0 0 5px rgba(73, 140, 108, 0.5) !important;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;

    opacity: 1;
    background: #5A5A5A;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
}

.work-dialog__info {
  grid-area: d;
  overflow-y: auto;
}

.info__header {
  color: var(--font);
  font-weight: 500;
  font-size: 48px;
  text-align: center;
}

.info__description {
  font-size: 22px;
  text-align: center;
  color: var(--font2);
}

.info__list {
  font-size: 20px;
  line-height: 32px;
  color: var(--font2);
  text-align: left;
  margin-top: 20px;

  b {
    font-weight: 400;
    font-size: 24px;
    color: var(--fonta);
  }

  ul {
    list-style-type: none;
    list-style-position: inside;
  }

  li:before {
    content: "•";
    padding-right: 7px;
  }
}

.work-dialog__btns-grid {
  grid-area: b;
}

.btns-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  height: fit-content;
  > div {
    flex-grow: 1;
  }
}

.ico-btn {
  position: relative;
  cursor: pointer;
  flex-grow: 1;

  font-size: 19px;
  line-height: 46px;
  text-indent: 46px;
  color: var(--font);

  border-radius: 10px;
  background: var(--bg);
  transition: background-color .4s;

  &:hover {
    background: var(--bg10);
  }

  &::before {
    content: '';
    position: absolute;

    width: 46px;
    height: 46px;
    left: 0;

    filter: brightness(70%) grayscale(100%);
    transition: filter .4s;
    background-position: center;
    background-repeat: no-repeat;
  }
  &:hover::before {
    filter: brightness(100%) grayscale(0);
  }

}