@font-face {
  font-display: swap;
  font-family: 'Apex';
  src: url('../font/Apex.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'SF';
  font-weight: 300;
  src: url('../font/SF.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'SF';
  font-weight: 400;
  src: url('../font/SF-Regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'SF';
  font-weight: 500;
  src: url('../font/SF-Medium.woff2') format('woff2');
}