:root {
  --font: #F5F5F5;
  --font2: #DCDCDC;
  --font3: #8C8C8C;
  --fonta: #69C89A;

  --bg: #141414;
  --bg10: #1E1E1E;
  --bg15: #232323;
  --bg25: rgb(45, 45, 45);
  --bg40: rgb(60, 60, 60);
  --bg50: rgb(70, 70, 70);
  --bg180: #C8C8C8;

  --accent: #69C89A;
  --darkaccent: #498C6C;

  --outline: rgba(255, 255, 255, .15);
}