/* Error: expected "{".
 *   ,
 * 2 |   var(--font, #F5F5F5);
 *   |                       ^
 *   '
 *   scss\theme.scss 2:23  @import
 *   scss\index.scss 3:1   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 2 \2502    var(--font, #F5F5F5);\d\a   \2502                        ^\a   \2575 \a   scss\\theme.scss 2:23  @import\a   scss\\index.scss 3:1   root stylesheet';
}
